# This is an example file for easy setup. To use it simply pull this repo.
# localhost must be replaced with the domain name of your choice and host.docker.internal:5281 with the address of the service you want to proxy to

# https://caddyserver.com/docs/quick-starts/reverse-proxy
# https://caddyserver.com/docs/quick-starts/caddyfile

# SSL can only be added for non ip addresses: https://caddyserver.com/docs/automatic-https#hostname-requirements found through: https://caddy.community/t/automatic-https-with-ip-address/16532/2

localhost { # https://caddyserver.com/docs/caddyfile/concepts#addresses

  # this below wont work always on all machines (for example linux it might not work) https://stackoverflow.com/questions/48546124/what-is-the-linux-equivalent-of-host-docker-internal
  # as alternative one could try to use 172.17.0.1
  # TODO TGIS, the best way might be this: https://stackoverflow.com/a/24326540/15015069 (allow host.docker.internal for all)
	reverse_proxy host.docker.internal:5281 # all requests that would go to localhost will be rerouted to host.docker.internal:5281
}
